@model IEnumerable<JobSearch.Models.Job>
@{
    ViewBag.Title = "ShowOutsideJobs";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h2>Jobs outside the country</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="tab-pane" style="padding:15px;">





            <div class="col-md-3 img-thumbnail" style=" margin-left:20px; margin-bottom:30px; height:400px; width:1050px;">
                <img src="~/Uploads/@item.JobImage" style="width:240px; height:240px; padding:5px;" />
                <h3>@Html.DisplayFor(modelItem => item.JobTitle)</h3>
                <h6>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.JobContent).ToString()))</h6>
                @Html.ActionLink("Details", "Details", new { JobId = item.Id }, new { @class = "btn btn-primary" })
            </div>





        </div>
    }
</div>